body {
    background-color: #FFEBA8;
}

.container {
    width: fit-content;
    min-height: 250px;
    padding: 20px;
    margin: 300px auto;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px #CEBA82;
}

h1 {
    background-color: #FECB70;
}

input {
    border: none;
    border-bottom: 5px dotted #F1E5CF;
}

button {
    background-color: transparent;
    border: solid 1px;
    border-radius: 1px;
    margin-left: 3px;
}

li {
    text-align: left;
}